consumir/consumir/Service References/ServicioOwncloud/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="oc_users">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oc_users" nillable="true" type="tns:oc_users" />
  <xs:complexType name="ArrayOfoc_users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oc_users" nillable="true" type="tns:oc_users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoc_users" nillable="true" type="tns:ArrayOfoc_users" />
  <xs:complexType name="oc_share">
    <xs:sequence>
      <xs:element minOccurs="0" name="accepted" type="xs:short" />
      <xs:element minOccurs="0" name="expiration" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="file_source" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="file_target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="item_source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail_send" type="xs:short" />
      <xs:element minOccurs="0" name="parent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="permissions" type="xs:short" />
      <xs:element minOccurs="0" name="share_type" type="xs:short" />
      <xs:element minOccurs="0" name="share_with" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stime" type="xs:long" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid_owner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oc_share" nillable="true" type="tns:oc_share" />
  <xs:complexType name="ArrayOfoc_share">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oc_share" nillable="true" type="tns:oc_share" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoc_share" nillable="true" type="tns:ArrayOfoc_share" />
  <xs:complexType name="ArrayOfoc_filecache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oc_filecache" nillable="true" type="tns:oc_filecache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoc_filecache" nillable="true" type="tns:ArrayOfoc_filecache" />
  <xs:complexType name="oc_filecache">
    <xs:sequence>
      <xs:element minOccurs="0" name="encrypted" type="xs:int" />
      <xs:element minOccurs="0" name="etag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileid" type="xs:int" />
      <xs:element minOccurs="0" name="mimepart" type="xs:int" />
      <xs:element minOccurs="0" name="mimetype" type="xs:int" />
      <xs:element minOccurs="0" name="mtime" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent" type="xs:int" />
      <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path_hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permissions" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:long" />
      <xs:element minOccurs="0" name="storage" type="xs:int" />
      <xs:element minOccurs="0" name="storage_mtime" type="xs:int" />
      <xs:element minOccurs="0" name="unencrypted_size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oc_filecache" nillable="true" type="tns:oc_filecache" />
  <xs:complexType name="ArrayOfoc_storages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oc_storages" nillable="true" type="tns:oc_storages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoc_storages" nillable="true" type="tns:ArrayOfoc_storages" />
  <xs:complexType name="oc_storages">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeric_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oc_storages" nillable="true" type="tns:oc_storages" />
</xs:schema>